<li>@Html.ActionLink("Producto +", "InsertarProducto", "Producto")</li>
<li>@Html.ActionLink("Trabajador +", "RegistrarTrabajador", "Trabajador")</li>
<li>@Html.ActionLink("Horarios", "ListarHorariosParaEditar", "Horario")</li>
<li>@Html.ActionLink("Productos", "ListarProductosEditar", "Producto")</li>
<li>@Html.ActionLink("Suscripciones", "ListarSus", "Producto")</li>
<li>@Html.ActionLink("Pedidos", "ListarPedidos", "Pedidos")</li>
<li>@Html.ActionLink("Clientes", "ListarClientes", "Cliente")</li>
<li>@Html.ActionLink("Reportes", "ListarReportes", "Reportes")</li>

